.header {
    min-height: 150px;
    &__container {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 60px 0;
    }
    &__menu {}
    &__logo-wrapper {
    }
    &__logo {
        width: 150px;
        height: 30px;
    }
}
.container {
}
.header-menu {
}
.menu {
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        list-style: none;
    }
    &__elem {
    }
    &__link {
        font-size: 2.4em;
        color: white;
        text-decoration: none;
    }
}
