.advantages {
    &__container {}
    &__card {
        border-radius: 20px;
        height: 410px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 35px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        background: linear-gradient(134.24deg, rgba(0, 0, 0, 0.79) 3.59%, rgba(0, 0, 0, 0.35) 100%);
    }
    &__title {
        font-size: 2.4em;
        line-height: 2.9rem;
        margin-bottom: 50px;
        font-weight: 700;
    }
    &__text {
        font-size: 1.6em;
        line-height: 2.2rem;
        font-weight: 600;
    }
    &__dots {}
}
.container {
}
.section-title {
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-pagination {
}
