.advantages {
    &__container {}
    &__card {
        border-radius: 20px;
        height: 410px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 35px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        box-shadow: 500px 500px 100px 100px rgba(0, 0, 0, 0.5) inset;
    }
    &__title {
        font-size: 2.4em;
        line-height: 2.9rem;
        margin-bottom: 50px;
        font-weight: 700;
    }
    &__text {
        font-size: 1.6em;
        line-height: 2.2rem;
        font-weight: 600;
    }

    &__swiper {
        margin-top: 170px;
    }

    &__dots {

    }
}