.technologies {
    &__container {}
    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px 170px;
        margin: 100px 0;
    }
    &__card {}
}

.technologies-card {
    background: rgba(217, 217, 217, 0.078);
    box-shadow: inset 28px -28px 28px rgba(165, 165, 165, 0.08), inset -28px 28px 28px rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(13px);
    border-radius: 18px;
    padding: 15px 90px 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    &__left {}
    &__img {
        width: 150px;
        height: 150px;
        object-fit: contain;
    }
    &__right {}
    &__title {
        font-weight: 700;
        font-size: 2.4em;
        margin-bottom: 20px;
    }
    &__text {
        font-weight: 600;
        font-size: 1.6em;
        line-height: 2rem;
    }
}