<section class="template">
    <div class="template__hero" style="background-image: url('img/components-bg.jpg');">
        <div class="container template__container">
            <h1 class="template__title">Технологические и надёжные фундаменты от БеруКоттедж</h1>
        </div>
    </div>
    <div class="container template__container">
        <div class="template__article article">
            <div class="article__advantages">
                <div class="article__advantages-elem">
                    <span class="article__advantages-title">300кг</span>
                    <p class="article__advantages-text">Расчётная нагрузка для межэтажного перекрытия -300кг на 1 м2.</p>
                </div>
                <div class="article__advantages-elem">
                    <span class="article__advantages-title">300кг</span>
                    <p class="article__advantages-text">Расчётная нагрузка для межэтажного перекрытия -300кг на 1 м2.</p>
                </div>
                <div class="article__advantages-elem">
                    <span class="article__advantages-title">300кг</span>
                    <p class="article__advantages-text">Расчётная нагрузка для межэтажного перекрытия -300кг на 1 м2.</p>
                </div>
            </div>
            <div class="article__wp-editor">
                <p><strong>Фундамент основа  дома, он является самым важным элементом конструкции и  на фундамент возложена функция защиты будущего строения от воздействия агрессивной внешней среды.</strong></p>
                <p>Какие особенности влияют на выбор фундамента?</p>
                <p>
                    <ul>
                        <li>✓Тип почв данной местности и их индивидуальные особенности;</li>
                        <li>✓Несущие способности грунта, подверженность к пучению;</li>
                        <li>✓Глубина промерзания грунта в зимний период;</li>
                        <li>✓Характеристики рельефа местности.</li>
                    </ul>
                </p>
                <p>Специфические особенности выбранного участка под строительство дома также играют немаловажную роль.</p>
                <p>
                    <img class="no-sourse" src="img/template.jpg" alt="">
                </p>
                <p><strong>Для наших клиентов мы собрали топ-3 самых надёжных фундаментов, подходящих практически для любых видов грунта и архитектурных проектов:</strong></p>
                <p>
                    <h2>Монолитная плита</h2>
                </p>
                <p><strong>Классическая решение для надёжного дома</strong></p>
                <p>Плитный фундамент называют плавающим, потому что плита распределяет равномерно вес здания по всей площади. Плитный фундамент обладает высокой прочностью и надёжностью. Для участков с  перепадом высот мы рекомендуем плитно-ростверковый фундамент. Ленточный фундамент с плитой 100 мм сверху. Пространство внутри  ленты засыпается песком.</p>
            </div>
            <div class="article__three-img">
                <img class="no-sourse" src="img/template.jpg" alt="">
                <img class="no-sourse" src="img/template-bg.png" alt="">
                <img class="no-sourse" src="img/template.jpg" alt="">
            </div>
            <div class="article__wp-editor">
                <p>
                    <h2>Монолитная плита</h2>
                </p>
                <p><strong>Классическая решение для надёжного дома</strong></p>
                <p>Плитный фундамент называют плавающим, потому что плита распределяет равномерно вес здания по всей площади. Плитный фундамент обладает высокой прочностью и надёжностью. Для участков с  перепадом высот мы рекомендуем плитно-ростверковый фундамент. Ленточный фундамент с плитой 100 мм сверху. Пространство внутри  ленты засыпается песком.</p>
            </div>
            <div class="article__four-img">
                <img class="no-sourse" src="img/template.jpg" alt="">
                <img class="no-sourse" src="img/template.jpg" alt="">
                <img class="no-sourse" src="img/template.jpg" alt="">
                <img class="no-sourse" src="img/template.jpg" alt="">
            </div>
            <div class="article__wp-editor">
                <p>
                    <h2>Монолитная плита</h2>
                </p>
                <p><strong>Классическая решение для надёжного дома</strong></p>
                <p>Плитный фундамент называют плавающим, потому что плита распределяет равномерно вес здания по всей площади. Плитный фундамент обладает высокой прочностью и надёжностью. Для участков с  перепадом высот мы рекомендуем плитно-ростверковый фундамент. Ленточный фундамент с плитой 100 мм сверху. Пространство внутри  ленты засыпается песком.</p>
            </div>
            <div class="article__slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/template.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/template.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/template.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/template.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/template.jpg" alt="">
                    </div>
                </div>
                <div class="article__slider-pagination"></div>
            </div>
        </div>
    </div>
</section>